/.vscode
/cpuhist
/f10
/f20
/f27
/files.zip
/ip-10-40-10-159.us-west-2.compute.internal-files.zip
/ip-10-40-10-171.us-west-2.compute.internal-files.zip
/ip-10-40-10-64.us-west-2.compute.internal-files.zip
/ip-10-40-11-147.us-west-2.compute.internal-files.zip
/ip-10-40-11-196.us-west-2.compute.internal-files.zip
/ip-10-40-11-205.us-west-2.compute.internal-files.zip
/ip-10-40-8-157.us-west-2.compute.internal-files.zip
/ip-10-40-9-182.us-west-2.compute.internal-files.zip
/ip-10-40-9-38.us-west-2.compute.internal-files.zip
/ip-10-40-9-45.us-west-2.compute.internal-files.zip
/script